TicketParking/src/META-INF/wsdl/localhost_8080/TicketService/TicketWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.ticket.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ticket.com/">

<xs:element name="getIdParkingLots" type="tns:getIdParkingLots"/>

<xs:element name="getIdParkingLotsResponse" type="tns:getIdParkingLotsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="isiComboLocation" type="tns:isiComboLocation"/>

<xs:element name="isiComboLocationResponse" type="tns:isiComboLocationResponse"/>

<xs:element name="isiComboVenue" type="tns:isiComboVenue"/>

<xs:element name="isiComboVenueResponse" type="tns:isiComboVenueResponse"/>

<xs:element name="isiDateCheckIn" type="tns:isiDateCheckIn"/>

<xs:element name="isiDateCheckInResponse" type="tns:isiDateCheckInResponse"/>

<xs:element name="isiListLots" type="tns:isiListLots"/>

<xs:element name="isiListLotsResponse" type="tns:isiListLotsResponse"/>

<xs:element name="reserveNewLot" type="tns:reserveNewLot"/>

<xs:element name="reserveNewLotResponse" type="tns:reserveNewLotResponse"/>

<xs:complexType name="parkingLots">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="parkingReservation">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="harga" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="jenis_tiket" type="xs:string" minOccurs="0"/>
<xs:element name="lot_number" type="xs:int"/>
<xs:element name="parking_lot_id" type="xs:int"/>
<xs:element name="reservation_date" type="xs:string" minOccurs="0"/>
<xs:element name="user_id" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="isiListLots">
<xs:sequence>
<xs:element name="venue_name" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="reserve_date" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isiListLotsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isiDateCheckIn">
<xs:sequence>
<xs:element name="venue_name" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isiDateCheckInResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isiComboVenue">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isiComboVenueResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isiComboLocation">
<xs:sequence>
<xs:element name="venue_name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isiComboLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveNewLot">
<xs:sequence>
<xs:element name="parking_lot_id" type="xs:int"/>
<xs:element name="user_id" type="xs:int"/>
<xs:element name="reservation_date" type="xs:string" minOccurs="0"/>
<xs:element name="lot_number" type="xs:int"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="jenis_tiket" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveNewLotResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getIdParkingLots">
<xs:sequence>
<xs:element name="venue_name" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdParkingLotsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>