TicketParking/xml-resources/web-service-references/TicketWebService/wsdl/localhost_8080/TicketService/TicketWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ticket.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ticket.com/" name="TicketWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ticket.com/" schemaLocation="http://localhost:8080/TicketService/TicketWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="isiComboVenue">
<part name="parameters" element="tns:isiComboVenue"/>
</message>
<message name="isiComboVenueResponse">
<part name="parameters" element="tns:isiComboVenueResponse"/>
</message>
<message name="viewListUser">
<part name="parameters" element="tns:viewListUser"/>
</message>
<message name="viewListUserResponse">
<part name="parameters" element="tns:viewListUserResponse"/>
</message>
<message name="reserveNewLot">
<part name="parameters" element="tns:reserveNewLot"/>
</message>
<message name="reserveNewLotResponse">
<part name="parameters" element="tns:reserveNewLotResponse"/>
</message>
<message name="isiListLots">
<part name="parameters" element="tns:isiListLots"/>
</message>
<message name="isiListLotsResponse">
<part name="parameters" element="tns:isiListLotsResponse"/>
</message>
<portType name="TicketWebService">
<operation name="hello">
<input wsam:Action="http://services.ticket.com/TicketWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.ticket.com/TicketWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="isiComboVenue">
<input wsam:Action="http://services.ticket.com/TicketWebService/isiComboVenueRequest" message="tns:isiComboVenue"/>
<output wsam:Action="http://services.ticket.com/TicketWebService/isiComboVenueResponse" message="tns:isiComboVenueResponse"/>
</operation>
<operation name="viewListUser">
<input wsam:Action="http://services.ticket.com/TicketWebService/viewListUserRequest" message="tns:viewListUser"/>
<output wsam:Action="http://services.ticket.com/TicketWebService/viewListUserResponse" message="tns:viewListUserResponse"/>
</operation>
<operation name="reserveNewLot">
<input wsam:Action="http://services.ticket.com/TicketWebService/reserveNewLotRequest" message="tns:reserveNewLot"/>
<output wsam:Action="http://services.ticket.com/TicketWebService/reserveNewLotResponse" message="tns:reserveNewLotResponse"/>
</operation>
<operation name="isiListLots">
<input wsam:Action="http://services.ticket.com/TicketWebService/isiListLotsRequest" message="tns:isiListLots"/>
<output wsam:Action="http://services.ticket.com/TicketWebService/isiListLotsResponse" message="tns:isiListLotsResponse"/>
</operation>
</portType>
<binding name="TicketWebServicePortBinding" type="tns:TicketWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isiComboVenue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewListUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reserveNewLot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isiListLots">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TicketWebService">
<port name="TicketWebServicePort" binding="tns:TicketWebServicePortBinding">
<soap:address location="http://localhost:8080/TicketService/TicketWebService"/>
</port>
</service>
</definitions>