TicketServer/src/META-INF/wsdl/localhost_8080/TicketService/TicketWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ticket.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ticket.com/" name="TicketWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ticket.com/" schemaLocation="http://localhost:8080/TicketService/TicketWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="insertUser">
<part name="parameters" element="tns:insertUser"/>
</message>
<message name="viewListUser">
<part name="parameters" element="tns:viewListUser"/>
</message>
<message name="viewListUserResponse">
<part name="parameters" element="tns:viewListUserResponse"/>
</message>
<message name="checkUser">
<part name="parameters" element="tns:checkUser"/>
</message>
<message name="checkUserResponse">
<part name="parameters" element="tns:checkUserResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="TicketWebService">
<operation name="insertUser">
<input wsam:Action="http://services.ticket.com/TicketWebService/insertUser" message="tns:insertUser"/>
</operation>
<operation name="viewListUser">
<input wsam:Action="http://services.ticket.com/TicketWebService/viewListUserRequest" message="tns:viewListUser"/>
<output wsam:Action="http://services.ticket.com/TicketWebService/viewListUserResponse" message="tns:viewListUserResponse"/>
</operation>
<operation name="checkUser">
<input wsam:Action="http://services.ticket.com/TicketWebService/checkUserRequest" message="tns:checkUser"/>
<output wsam:Action="http://services.ticket.com/TicketWebService/checkUserResponse" message="tns:checkUserResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services.ticket.com/TicketWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.ticket.com/TicketWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="TicketWebServicePortBinding" type="tns:TicketWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="viewListUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TicketWebService">
<port name="TicketWebServicePort" binding="tns:TicketWebServicePortBinding">
<soap:address location="http://localhost:8080/TicketService/TicketWebService"/>
</port>
</service>
</definitions>